
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

.body-style {
    margin-left: 25%;
    height: 100%;
    background-image: linear-gradient(#45A29E, #66FCF1, #C5C6C7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Lobster", cursive;
    margin: 0;
}

.menu-icon {
    padding-left: 0.1rem;
    width: 28px;
    height: 4px;
    background: transparent;
    background-color: black;
    margin: 6px 3px;
}



/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-left: 10px;
    margin-top: 8px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    text-align: left;
    width: 120px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content h6 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    overflow: hidden;
  }

  .display-all-items {
    display: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position:absolute;
    top: 10px;
    left: 120px;
    width: 300px;
    overflow-wrap: break-word;
}
  .display-active-items {
    display: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position:absolute;
    top: 71px;
    left: 120px;
    width: 300px;
    overflow-wrap: break-word;
}
.display-completed-items {
    display: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position:absolute;
    top: 131px;
    left: 120px;
    width: 300px;
    overflow-wrap: break-word;
}

  hr {
      color: black;
      display: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content h6:hover {background-color: #ddd; cursor: pointer;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; cursor: pointer;}
  .dropbtn:hover {background-color: #ddd;}
  .nav-text-all:hover + .display-all-items {display: inline; text-align: left;}
  .nav-text-active:hover + .display-active-items {display: flex; text-align: left;}
  .nav-text-completed:hover + .display-completed-items {display: flex; text-align: left;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  

h1 {
    font-size: 4rem;
    margin-top: -10rem;
    
}

ul {
    list-style-type: square;
}

.comedy {
    float: right;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(153, 51, 85);
    justify-content: center;
    visibility: visible;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.duration-text {
    visibility: visible;
    margin: 10px;
}

.break-text {
    visibility: visible;
}

.cycle-text {
    visibility: visible;
    margin: 10px;
}

.submit-button {
    visibility: visible;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem; 
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2rem;
}

.title {
    visibility: visible;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reset {
    margin: 25px;
    display: flex;
    box-sizing: border-box;
    background: transparent;
    height: 74px;
    align-items: center;
    border-color: transparent transparent transparent transparent;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;


    
}

#pause {
    margin: 25px;
    display: flex;
    box-sizing: border-box;
    background: transparent;
    height: 60px;
    align-items: center;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;


    border-style: double;
    border-width: 0px 37px 0px 37px;

}

#play {
    margin: 25px;
    display: flex;
    box-sizing: border-box;
    background: transparent;
    height: 50px;
    align-items: center;
    
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;

    border-style: solid;
    border-width: 30px 0 30px 50px;
}

.button-container {
    margin: 30px;
    
}




